/*code CSS am*/
/*--------Le menu du haut de la page (contact, portfolio...)-------*/	
.nav-top {
	float: right;
	font-family:Arial;
	font-weight: 15px;
	line-height: 80px;
	font-size:0.9375 em;/*15/16*/
}

/*--------sert au initial du haut de la page-------*/	
.nav {
	float: left;
	font-weight:15px;
}

/*--------sert a l'entête-------*/	
#header {
	height: 110px;
	margin-top:25px;
}
/*--------corps du site-------*/
body{
	width: 64%;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	background-color: #f0f0f0;/*--------correspondence au gris utiliser dans le PSD-------*/
	
}

/*--------pied de page-------*/
#footer{
	margin-top: 2500px;
	text-align: right;
	border-top: 2px solid black;
}
#bloquetest{
position: relative;

}
#bloc1{
	position: absolute;
	z-index :1;
}
#paragraphe{
position: absolute;
width:20%;
height:270px;
padding:25px;
border:25 px solid navy;
margin:20px;
background-color:white;
top:140px;
left:650px;
box-sizing:border-box;
font-size:0.937em;/*15/16*/
z-index:2;
} 
/*--------titre 1-------*/
h1 {
	float:center;	
	font-weight:bold;
	text-decoration:underline;
	font-size:40px;
	margin-top:0px;
   }
   
/*--------titre 2-------*/
h2{
	float:center;
    font-weight:bold;
}

/*--------titre 2-------*/
h5{
	float:center;	
	font-weight:bold;
	text-decoration:underline;
	font-size:2.5em;/*40/16*/
	margin-bottom:50px;
	margin-top:0px;
}

/*--------pied de page-------*/


.img-gauche 
{
	height: 400px;
	position: relative;
	margin-bottom:50px;
}


.img-gauche img {
	position: absolute;
	left: 0px;
	max-width:100%;
}

.texte-gauche
{
	position:absolute;
	width:;
	text-align:justify right;
	left:66.6%;
}

.img-droite 
{
	height: 400px;
	position: relative;
	margin-bottom:50px;
	text-align:right;
	max-width:100%;
	margin-bottom:3%;
	}


.img-droite img {
	position: absolute;
	right: 0px;
	max-width:100%;
	margin-bottom:3%;
}
.img-containers{
width:66.6%;
}

.img-containers img{
width:100%;
}


.texte-droit
{
	position:absolute;
	left:0px;
	width:20%;
	
}

/*---------------*/
label {
	display: inline-block;
	width:25.9%;
	text-align: center;
}

/*--------pied de page-------*/
input[type="text"], textarea {
	width:25.3%;
	height:184px;
	box-sizing:border-box;
}

/*--------mise en forme du formulaire-------*/
#form {
	width: 56.25%;
	margin-left: 16.6%;
	font-size:0.9375em; 
	border: 1px solid red;
}

/*--------le label du formulaire-------*/	
/*#form label {
	margin-right: 20px;
}
*/

/*--------le cadre de nom dans le formulaire-------*/	
#nom{
	width:70%;
	height:42px;
	margin-bottom:20px;
	box-sizing:border-box;
}

/*--------le cadre de prénom dans le formulaire-------*/
#prenom{
	width:70%;
	height:42px;
	margin-bottom:20px;
	box-sizing:border-box;
}

/*--------le cadre de message dans le formulaire-------*/
#message label{
	vertical-align:top;
	box-sizing:border-box;
	width:70%;
	
	}
textarea{
width:70%;
}
/*--------le cadre de sexe dans le formulaire-------*/
#sexe{

	margin-bottom:20px;
}

/*--------le boutton d'envoi-------*/
input[type="submit"] {
	background-color: transparent;
	border: 1px;
	margin-left: 450px;
}
 
a:hover {
color:red;
}
a:link{
color:black;
text-decoration:none;
}

.current {
font-weight: bold;
}